.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.body {
  background-image: url('./bg.jpg');
  background-size: auto;
  background-size:     cover;  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  max-width: auto;
  padding: 20px;
  margin-top: 50px;
  
  
}

.listItem {
  cursor: pointer;
  border-radius: 5px;
}

.listItem:hover {
  background-color: #e9e9e988;
}

.modalTitle {
  margin-bottom: 1rem;
}

.modalContent {
  padding: 1rem;
}

.modalActions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

